# Web
web/node_modules/
web/.next/
web/.env.local
web/shared/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
dist/*.apk
*.iml
.idea/

# OS
.DS_Store
android/.kotlin/
.tools/
